<h2 data-trl="contact-title"></h2>
<div>
  <img src="./assets/img/birthday-cake.png" alt="Birthday cake">
  <div>29/12/1991</div>
</div>
<div>
  <i class="bi bi-telephone"></i>
  <div>+33.6.09.21.97.14</div>
</div>
<div>
  <i class="bi bi-at"></i>
  <div><a href="mailto:melv.douc@gmail.com">melv.douc@gmail.com</a></div>
</div>
<div>
  <i class="bi bi-envelope"></i>
  <div>
    <address>
      <div>Impasse Louis de Broglie</div>
      <div>57970 Yutz</div>
      <div>France</div>
    </address>
  </div>
</div>
<div>
  <i class="bi bi-github"></i>
  <div><a href="https://github.com/MelvDouc?tab=repositories">Github</a></div>
</div>
<div>
  <i class="bi bi-linkedin"></i>
  <div><a href="https://www.linkedin.com/in/melvin-doucet-b11931114/">LinkedIn</a></div>
</div>