<h2>Formation</h2>
<ul>
  <li>
    <span>2020-2021</span> <span data-trl="edu-webdev"></span>
    <ul class="right-detail">
      <li data-trl="edu-webdev-school"></li>
      <li data-trl="edu-webdev-degree"></li>
    </ul>
  </li>
  <li><span>2011-2013</span> <span data-trl="edu-admin"></span>
    <ul class="right-detail">
      <li data-trl="edu-admin-school"></li>
    </ul>
  </li>
  <li><span>2009-2011</span> <span data-trl="edu-afl"></span>
    <ul class="right-detail">
      <li data-trl="edu-afl-langs"></li>
      <li data-trl="edu-afl-school"></li>
    </ul>
  </li>
  <li><span>2009</span> <span data-trl="edu-bac"></span>
    <ul class="right-detail">
      <li data-trl="edu-bac-score"></li>
    </ul>
  </li>
</ul>