<h2 data-trl="exp-title"></h2>
<ul>
  <li><span>2019</span> <span data-trl="exp-receptionist"></span></li>
  <li><span>2016-2017</span> <span data-trl="exp-bicycles"></span>
    <ul class="right-detail">
      <li data-trl="exp-bicycles-tasks"></li>
    </ul>
  </li>
  <li><span>2013-2016</span> <span data-trl="exp-oddjobs"></span></li>
  <li><span>2011-2013</span> <span data-trl="exp-admin"></span>
    <ul class="right-detail">
      <li data-trl="exp-admin-employer"></li>
    </ul>
  </li>
  <li><span>2008-2010</span> <span data-trl="exp-oddjobs"></span></li>
</ul>