<h2 data-trl="skills-title"></h2>
<ul>
  <li><span data-trl="skills-html"></span>
    <ul class="right-detail">
      <li>Bootstrap</li>
      <li>SASS</li>
    </ul>
  </li>
  <li>Javascript
    <ul class="right-detail">
      <li data-trl="skills-js"></li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Svelte</li>
    </ul>
  </li>
  <li>Node.js
    <ul class="right-detail">
      <li>Express</li>
      <li>Fastify</li>
    </ul>
  </li>
  <li data-trl="skills-mysql"></li>
  <li>PHP
    <ul class="right-detail">
      <li data-trl="skills-php"></li>
      <li>Symfony</li>
    </ul>
  </li>
  <li>Python
    <ul class="right-detail">
      <li>Django</li>
    </ul>
  </li>
  <li>Figma
    <ul class="right-detail">
      <li data-trl="skills-figma"></li>
    </ul>
  </li>
  <li data-trl="skills-uiux"></li>
  <li>SEO</li>
</ul>